<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename="css/index.css")}}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="sidebar">
        <div class="logo-details">
            <span class="logo_name">Bucal Portal</span>
        </div>
        
        <ul class="nav-links">
            <li>
                <a href="{{ url_for('main.index') }}" class="active">
                    <span class="link_name">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('main.enrollment') }}">
                    <span class="link_name">Enrollment</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('main.grades') }}">
                    <span class="link_name">Grades</span>
                </a>
            </li>
            
            <li class="log-out">
                <a href="#">
                    <span class="link_name">Logout</span>
                </a>
            </li>
        </ul>
    </div>

    <section class="main-section">
        <div class="container">
            {% block content %}
            <h1>Graphs</h1>
            {% endblock %}
        </div>
    </section>
</body>
</html>