<!DOCTYPE html>
<html lang="en" class="overflow-y-scroll">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="d-flex flex-column bg-dark vh-100 position-fixed top-0 start-0 sidebar">
        <div class="p-3 border-bottom border-secondary text-center">
            <span class="fs-5 fw-semibold text-white">Bucal Portal</span>
        </div>
        
        <ul class="nav flex-column gap-1 flex-grow-1 text-center">
            <li class="nav-item">
                <a href="{{ url_for('main.index') }}" class="nav-link">
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('main.enrollment') }}" class="nav-link">
                    Enrollment
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('main.grades') }}" class="nav-link">
                    Grades
                </a>
            </li>
            
            <li class="p-3">
                <a href="{{ url_for('main.logout') }}" class="btn btn-danger w-100">
                    Logout
                </a>
            </li>
        </ul>
    </div>

    <section class="main-content min-vh-100 bg-light">
        <div class="p-4">
            {% block content %}
            <h1>Graphs</h1>
            {% endblock %}
        </div>
    </section>


    {% block scripts %}{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>